<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<button class="create" (click)="initNewEmployee()"> Create New Employee</button>

<div class="page">
<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthday</th>
    <th>E mail</th>
    <th>Phone</th>
    <th>Job Title</th>
    <th>Action</th>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.fName}}</td>
      <td>{{employee.lName}}</td>
      <td>{{employee.bday}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.job}}</td>
      <td><button class="submit" (click)="editEmployee(employee)">Edit</button></td>
  </tbody>
    
</table>

<app-edit-employee [employee]="updatesemp" (employeeupdate)="updatedEmployeeList($event)"></app-edit-employee>
</div>